$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/*======Variables and Mixins======*/
$brand-primary: #7EA656;
$brand-secondary: #8C765A;
/*======End Variables and Mixins====*/
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
/*==========Ideas=============*/
.idea {
    margin: 0 auto 20px;
    padding: 16px 32px;
    border: 2px solid $brand-secondary;
    border-radius:10px;
    h1 {
        margin-top:0px;
    }
    .mergeStatus {
        font-size: .4em;
        color: white;
        padding:3px 6px;
        border-radius:4px;
        background-color:$brand-primary;
        vertical-align: middle;
        margin-left: 12px;
        transition: background-color 1s;
        &.merged {
            background-color:$brand-secondary;
        }
    }
}
.progress.small {
    width:100px;
    height:12px;
}
.accordion-toggle {
    cursor:pointer;
}
.pagination li {
    cursor:pointer;
}
.comment-btns {
    text-align:right;
}
.btn-comment {
    display: inline-block;
    margin-left: 12px;
    margin-top: 12px;
    padding: 3px 6px;
}
.comment {
    border-color: gray;
    border-top: 1px dotted;
    line-height:32px;
    padding-left:24px;
    padding-right:24px;
    > div {
        display:inline-block;
    }
    .comment-owner {
        margin-left:12px;
        img {
            width:24px;
            margin-right:8px;
        }
    }
    .comment-date {
        color:#666;
    }
    &:last-of-type {
        border-bottom: 1px dotted;
    }
}