div(ng-include='\'partials/navbar.html\'')
alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") {{alert.msg}}
div
 idea(ng-class="{single: single}" ng-repeat="idea in ideas" idea="idea") 
pagination(ng-if="numPages > 1" total-items="totalIdeas" page="page" max-size="5" class="pagination-sm" boundary-links="true" rotate="true" items-per-page="ideasPer" on-select-page = "switchPage(page)")