div(ng-include='\'partials/navbar\'')
alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") {{alert.msg}}
.row
    .col-md-4
      a(href="")
        i.fa.fa-search.fa-4x  Search
    .col-md-4
      a(href="")
        i.fa.fa-leaf.fa-4x  Create
    .col-md-4
      a(href="")
        i.fa.fa-tasks.fa-4x  Browse
        
.container
    .row.clearfix
        .col-md-12.column
          .row.clearfix
            .col-md-4.column
              h2
                | Heading
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') View details »
            .col-md-4.column
              h2
                | Heading
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') View details »
            .col-md-4.column
              h2
                | Heading
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') View details »
