div(ng-include='\'partials/navbar.html\'')
alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") {{alert.msg}}
h1 Submit New Idea
form.form(name='form', ng-submit='submit()', novalidate='novalidate')
  .form-group(ng-class='{"has-error": error.title}')
    label Title
    input.form-control(type='text', name='title', ng-model='idea.title' ng-change="changeErr()")

  .form-group(ng-class='{"has-error": error.summary}')
    label Summary
    textarea.form-control(msd-elastic rows="2" name='summary', ng-model='idea.summary' ng-change="changeErr()")
    
  .form-group(ng-class='{"has-error": error.tags}')
    label Tags
    input.form-control(type='text', name='tags', placeholder='Tags should be comma separated.  At least one tag is required.' ng-model='tags' ng-change="changeErr()")

  .form-group(ng-if="false")
    label Root Idea
    input.form-control(type='text', name='root', ng-model='idea.root')

  button.btn.btn-primary(type='submit')  Submit